In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
import warnings
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
df = pd.read_csv("50_Startups.csv")
# df.head()

In [ ]:
df.isna().sum()

In [ ]:
df["State"].unique()

In [ ]:
warnings.filterwarnings("ignore")
plt.figure(figsize = (10,4))

plt.subplot(1,3,1)
sns.distplot(df["R&D Spend"])

plt.subplot(1,3,2)
sns.distplot(df["Administration"])

plt.subplot(1,3,3)
sns.distplot(df["Marketing Spend"])

In [ ]:
warnings.filterwarnings("ignore")
plt.figure(figsize = (10,4))

plt.subplot(1,3,1)
sns.boxplot(df["R&D Spend"])

plt.subplot(1,3,2)
sns.boxplot(df["Administration"])

plt.subplot(1,3,3)
sns.boxplot(df["Marketing Spend"])

###### No outliers in the independent variables, and these variables follows normal distribution

In [ ]:
sns.pairplot(df)

###### Not all the variables follow a linear pattern with respect to profit

In [ ]:
df.head()

In [3]:
df_2 = pd.get_dummies(df,columns=['State'], drop_first= True)
df_2.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,1
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,1,0
3,144372.41,118671.85,383199.62,182901.99,0,1
4,142107.34,91391.77,366168.42,166187.94,1,0

In [4]:
y = df_2["Profit"]
x = df_2.drop(["Profit"], axis = 1)

In [5]:
x = sm.add_constant(x)

model = sm.OLS(y, x).fit()
# model.summary()

In [8]:
x.head(2)

,const,R&D Spend,Administration,Marketing Spend,State_Florida,State_New York
0,1.0,165349.2,136897.80,471784.10,0,1
1,1.0,162597.7,151377.59,443898.53,0,0

In [6]:
x_const = sm.add_constant(x)
y_pred = model.predict(x_const)
r_2 = r2_score(y,y_pred)
r_2

0.9507524843355148

In [10]:
x_const.head(2)

,const,R&D Spend,Administration,Marketing Spend,State_Florida,State_New York
0,1.0,165349.2,136897.80,471784.10,0,1
1,1.0,162597.7,151377.59,443898.53,0,0

In [15]:
x1 = x.copy()
x1["Administration_sqrt"] = np.sqrt(x["Administration"])
x1["Marketing Spend_sqrt"] = np.sqrt(x["Marketing Spend"])
x1 = x1.drop(["Administration"], axis = 1)
x1 = x1.drop(["Marketing Spend"], axis = 1)
x1.head()

,const,R&D Spend,State_Florida,State_New York,Administration_sqrt,Marketing Spend_sqrt
0,1.0,165349.20,0,1,369.997027,686.865416
1,1.0,162597.70,0,0,389.072731,666.257105
2,1.0,153441.51,1,0,318.033882,638.697534
3,1.0,144372.41,0,1,344.487808,619.031195
4,1.0,142107.34,1,0,302.310718,605.118517

In [16]:
x1 = sm.add_constant(x1)

model = sm.OLS(y, x1).fit()
# model.summary()

In [18]:
x_const1 = sm.add_constant(x1)
y_pred1 = model.predict(x_const1)
r_2_sqrt = r2_score(y,y_pred1)
r_2_sqrt

0.9505430446185115

In [15]:
x2 = x.copy()
x2["Administration_sq"] = np.square(x["Administration"])
x2["Marketing Spend_sq"] = np.square(x["Marketing Spend"])
x2 = x2.drop(["Administration"], axis = 1)
x2 = x2.drop(["Marketing Spend"], axis = 1)
x2.head()

,const,R&D Spend,State_Florida,State_New York,Administration_sqrt,Marketing Spend_sqrt
0,1.0,165349.20,0,1,369.997027,686.865416
1,1.0,162597.70,0,0,389.072731,666.257105
2,1.0,153441.51,1,0,318.033882,638.697534
3,1.0,144372.41,0,1,344.487808,619.031195
4,1.0,142107.34,1,0,302.310718,605.118517

In [16]:
x1 = sm.add_constant(x1)

model = sm.OLS(y, x1).fit()
# model.summary()

In [18]:
x_const1 = sm.add_constant(x1)
y_pred1 = model.predict(x_const1)
r_2_sqrt = r2_score(y,y_pred1)
r_2_sqrt

0.9505430446185115

In [ ]:
sns.pairplot(x1)

In [ ]:
def r2_calcs(x,y):
    x = sm.add_constant(x)
    model = sm.OLS(y, x).fit()
    x_const = sm.add_constant(x)
    y_pred = model.predict(x_const)
    r_2 = r2_score(y,y_pred)
    return r_2

In [ ]:
y = df_2["Profit"]
x = df_2.drop(["Profit"], axis = 1)
r2_simple = r2_calcs(x,y)

x_log = np.log(x)
# print(x_log)
# r2_log = r2_calcs(x_log, y)

In [ ]:
x_log = x.copy()
x_log["Administration_log"] = np.log(x["Administration"])
x_log = x_log.drop(["Administration"], axis = 1)
x_log.head()

In [19]:
a = np.array([1,2,3,4])
b = np.square(a)
b

array([ 1,  4,  9, 16])